<!DOCTYPE html>
<html>
  <style>
    body {
      background-color: #fff7cc
    }

    div {
        height: 175px;
        width: 510px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -275px;
        text-align:center;
        background-color: #4CAF50;
        font-family: Georgia, serif;
        opacity: 0.8;
        border-radius: 15px;
      }

      a {
        font-style: italic;
      }
  </style>
      <body>
          <div>
            <h1 style="font-size:26px;">
              NBA Database
            </h1>
            <p>
              This program takes fictional NBA data from a database and displays
              it in a more accessable manner. <a>This data is not real data and
              was created for fun to use with this program.</a><br />
              <span style="font-size:10px;"> by Brad Hamilton (May 2018) </span>
            </p>
          </div>
      </body>
</html>
